.cc-slider_fade {
  -webkit-animation-name: cc-slider_fade;
  -webkit-animation-duration: 1.5s;
  animation-name: cc-slider_fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes cc-slider_fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes cc-slider_fade {
  from {opacity: .4} 
  to {opacity: 1}
}
